* {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: #5f2eae; 
}

.navbar-brand {
  color: #ffffff;
  font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
  color: #fff;
  position: relative; 
  transition: 0.3s;
  font-weight: 400;
  color:#fff;
}

.navbar-nav .nav-item .nav-link::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f8b739;
  transition: 0.3s;
  color:#fff;
}
.navbar-nav .nav-item .nav-link:hover::before {
  width: 100%; 
  color: #fff;
}
