/* Add this to your component's CSS or styles.scss */
.hidden-xs {
    display: none;
  }
  
  /* Show on small screens */
  @media only screen and (max-width: 600px) {
    .hidden-xs {
      display: table-cell !important;
    }
  }
  .helo{
    margin: 30px;
    padding:20px;
    padding-top: 10;
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.1);
  }
  