/* General styling */
body {
	font-family: Arial, sans-serif;
	background-color: #f5eded;
	;
	margin: 0;
	padding: 0;
  }
  
  /* Container styling */
  div {
	max-width: 400px;
	margin: 50px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading styling */
  h3 {
	text-align: center;
	color: #333;
  }
  
  /* Label styling */
  label {
	display: block;
	margin: 10px 0 5px;
	color: #333;
  }
  
  /* Input styling */
  input {
	width: 100%;
	padding: 8px;
	margin-bottom: 15px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
  }
  
  /* Button styling */
  button {
	width: 100%;
	padding: 10px;
	background-color: #4f1294;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  button:hover {
	background-color: #8a64c7;
  }
  
  /* Error message styling */
  label[for="username"], label[for="password"] {
	color: #e74c3c;
	font-weight: bold;
  }
  
  /* Optional: Add animation for a better user experience */
  @keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  
  div {
	animation: fadeIn 0.5s ease-in-out;
  }
  