<div class="login-box">
    <h2>Login</h2>
    <form>
      <div class="user-box">
        <input type="text" [(ngModel)]="name" [ngModelOptions]="{ standalone: true }" />
        <label>Enter Name</label>
        <label></label>
      </div>
      <div class="user-box">
        <input type="password" [(ngModel)]="pass" [ngModelOptions]="{ standalone: true }" />
        <label>Enter Password</label>
        <label></label>
      </div>
      <a routerLink = "/home" (click)="onSubmit()" routerLink="home">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>
    </form>

  </div>
